/* Form Section */

.search-box {
  width: 93%;
  max-width: 36.5rem;
  margin-inline: auto;
  border-radius: 50px;
  height: 2.5rem;
  position: relative;
  margin-bottom: 2rem;
  border: 1px solid rgb(216, 216, 216);
}

.search-box * {
  position: absolute;
  top: 0;
}

.search-box:hover {
  box-shadow: 0 0 8px rgb(218, 218, 218);
}

.search-box img {
  height: 1.5rem;
}

.search-box__search-icon {
  color: grey;
  line-height: 2.5rem;
  left: 0.6rem;
  z-index: 1;
  display: inline-block;
  top: 0 !important;
}

.search-box__input-box {
  position: inherit;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding-inline: 2.5rem 9rem;
  outline: none;
  border: none;
  border-radius: 20rem;
  top: -2.5rem;
}

.search-box__clear-text {
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 2.5rem;
  color: grey;
  padding-inline: 1rem;
  right: 6rem;
  border-right: 1px solid rgb(228, 228, 228);
}

.search-box__input-box:invalid + .search-box__clear-text {
  display: none;
}

.search-box__cam-icon,
.search-box__mic-icon {
  top: 6px;
}

.search-box__mic-icon {
  right: 3.5rem;
}

.search-box__cam-icon {
  right: 1rem;
}

.tooltip {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0.9rem;
  z-index: 100;
}

.image-tooltip {
  left: -2.35rem;
}

.mic-tooltip {
  left: -5rem;
}

/* !Media Queries */
@media (min-width: 28rem) {
  .search-box {
    height: 3rem;
  }

  .search-box__input-box {
    top: -3rem;
  }

  .search-box__clear-text,
  .search-box__search-icon {
    line-height: 3rem;
  }

  .search-box__clear-text {
    right: 6rem;
    border-right: 1px solid rgb(228, 228, 228);
  }

  .search-box__cam-icon,
  .search-box__mic-icon {
    top: 10px;
  }

  .search-buttons {
    display: flex;
  }
}
